@model IPagedList<eProject3.Models.Award>;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using eProject3.Repository;
@inject IAwardRepository awardRepository
@inject IPaintingRepository paintingRepository;
@inject IPaintingInCompRepository paintingInCompRepository;
@{
    ViewData["Title"] = "Exhibition";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<body>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">
                                <div class="d-sm-flex align-items-center justify-content-between border-bottom"></div>
                                <div class="tab-content tab-content-basic">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                        <div class="row">
                                            <div class="col-12 grid-margin stretch-card">
                                                <div class="card card-rounded">
                                                    <div class="card-body">
                                                        <div class="d-sm-flex justify-content-between align-items-start">
                                                            <div>
                                                                <h4 class="card-title card-title-dash">Competitions Information</h4>
                                                            </div>

                                                        </div>
                                                        <div class="table-responsive  mt-1">
                                                            <table class="table select-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Id</th>
                                                                        <th>Name</th>
                                                                        <th>Award Day</th>
                                                                        <th>Remarks Of Competion</th>
                                                                        <th>Painting</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (Award x in Model)
                                                                    {
                                                                                <tr>
                                                                                    <td>@x.Id</td>
                                                                                    <td>
                                                                                        <div>
                                                                                            <h6>@x.Name</h6>

                                                                                        </div>

                                                                                    </td>
                                                                                    <td>
                                                                                        <h6>@x.AwardDay</h6>
                                                                                    </td>
                                                                                    <td>
                                                                                        <h6>@x.RemarksOfCompetion</h6>
                                                                                    </td>
                                                                                    <td>
                                                                                        <h6>
                                                                                            @paintingRepository.GetByIdAsync((int)paintingInCompRepository.GetByIdAsync((int)x.PaintingInCompId).GetAwaiter().GetResult().PaintingId).GetAwaiter().GetResult().Name

                                                                    

                                                                                        </h6>
                                                                                    </td>
                                                                                </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    @Html.PagedListPager(Model, page=>Url.Action("Award",new{page}))
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    
</body>



